@import './rooms.scss';
@import './reset.scss';
@import './common/rooms_header.scss';
@import "font-awesome";
@import './common/rooms_footer.scss';
@import './rooms_show.scss';

/*
 *= require font-awesome
 */

body {
  height: 100%;
  overflow-x:hidden;
}

.cf:after{
content: "";
display: block;
clear: both;
}



